<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :teacher_id, :value => @teacher.id %>
  
  <div class="field">
    <%= f.label :knowledge_sharing %><br>
    <%= f.select :knowledge_sharing, ((1..5).map {|i| [i,i] }) %>
  </div>
  <div class="field">
    <%= f.label :passing_difficulty %><br>
    <%= f.select :passing_difficulty, ((1..5).map {|i| [i,i] }) %>
  </div>
  <div class="field">
    <%= f.label :justice %><br>
    <%= f.select :justice, ((1..5).map {|i| [i,i] }) %>
  </div>
  <div class="field">
    <%= f.label :jokes_level %><br>
    <%= f.select :jokes_level, ((1..5).map {|i| [i,i] }) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
