<!DOCTYPE html>
<html>
<head>
  <title>RateTeachers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <span class="left">
  <%= link_to 'Rate teachers', root_url, :class => 'header-link' %>
  <% if user_signed_in? && current_user.is_admin %>
    <%= link_to 'Votes (admin)', votes_url, :class => 'header-link' %>
    <%= link_to 'Teachers (admin)', teachers_url, :class => 'header-link' %>
  <% end %>
  </span>

  <span class="right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'header-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'header-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'header-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'header-link'  %>
  <% end %>
  </span>
</div>

<div id="content">
<%= yield %>
</div>

</body>
</html>
